<div class="container-fluid px-5 my-4">
    <div class="row ">
        <div class="col-8 " style="height:1000px"> 
            <table class="table table-striped ">
                
                <tbody>
                    <!-- bloque de noticias -->
                  <tr>   
                    <td class="" > <img src="static/img/loop.jpeg" alt="" class="img-noticia"> </td>
                    <td>
                        <ul>
                            <li><h2>Reseña</h2></li>
                            <li><h3>Loop Hero, un juego que no debes de perderte</h3></li>
                            <li><p> Loop Hero un juego que hara que se te olvide la hora de dormir</p></li>
                        </ul>
                    </td>  
                  </tr>
                  <!-- fin del bloque de noticias
                  inicio de bloque de noticias -->
                  <tr> 
                    <td><img src="static/img/unpacking.jpg" alt="" class="img-noticia"></td>
                    <td>
                        <ul>
                            <li><h2>Reseña</h2></li>
                            <li><h3>Unpacking, cortito y relajante</h3></li>
                            <li><p> Un gran y corto juego al que deberias echarle un ojo</p></li>
                        </ul>
                    </td>   
                  </tr>
                  <tr>  
                    <td><img src="static/img/xbox.jpg" alt="" class="img-noticia"></td>
                    <td>
                        <ul>
                            <li><h2>Noticia</h2></li>
                            <li><h3>El Game Pass crece,incluira mas titulos</h3></li>
                            <li><p> El Game Pass añadira nuevos titulos a su catalogo este 15 de enero</p></li>
                        </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
               
        </div>
        <div class="col border-left border-dark d-flex justify-content-center" style="height:1000px" >
            <img src="static/img/an.jpg" alt="" class="ad">
        </div>
    </div>


</div>